:root {
  --ctp-rosewater: #f4dbd6;
  --ctp-rosewater-rgb: 244, 219, 214;
  --ctp-rosewater-hsl: 10, 57.692%, 89.804%;
  --ctp-flamingo: #f0c6c6;
  --ctp-flamingo-rgb: 240, 198, 198;
  --ctp-flamingo-hsl: 0, 58.333%, 85.882%;
  --ctp-pink: #f5bde6;
  --ctp-pink-rgb: 245, 189, 230;
  --ctp-pink-hsl: 316.071, 73.684%, 85.098%;
  --ctp-mauve: #c6a0f6;
  --ctp-mauve-rgb: 198, 160, 246;
  --ctp-mauve-hsl: 266.512, 82.692%, 79.608%;
  --ctp-red: #ed8796;
  --ctp-red-rgb: 237, 135, 150;
  --ctp-red-hsl: 351.176, 73.913%, 72.941%;
  --ctp-maroon: #ee99a0;
  --ctp-maroon-rgb: 238, 153, 160;
  --ctp-maroon-hsl: 355.059, 71.429%, 76.667%;
  --ctp-peach: #f5a97f;
  --ctp-peach-rgb: 245, 169, 127;
  --ctp-peach-hsl: 21.356, 85.507%, 72.941%;
  --ctp-yellow: #eed49f;
  --ctp-yellow-rgb: 238, 212, 159;
  --ctp-yellow-hsl: 40.253, 69.912%, 77.843%;
  --ctp-green: #a6da95;
  --ctp-green-rgb: 166, 218, 149;
  --ctp-green-hsl: 105.217, 48.252%, 71.961%;
  --ctp-teal: #8bd5ca;
  --ctp-teal-rgb: 139, 213, 202;
  --ctp-teal-hsl: 171.081, 46.835%, 69.02%;
  --ctp-sky: #91d7e3;
  --ctp-sky-rgb: 145, 215, 227;
  --ctp-sky-hsl: 188.78, 59.42%, 72.941%;
  --ctp-sapphire: #7dc4e4;
  --ctp-sapphire-rgb: 125, 196, 228;
  --ctp-sapphire-hsl: 198.641, 65.605%, 69.216%;
  --ctp-blue: #8aadf4;
  --ctp-blue-rgb: 138, 173, 244;
  --ctp-blue-hsl: 220.189, 82.813%, 74.902%;
  --ctp-lavender: #b7bdf8;
  --ctp-lavender-rgb: 183, 189, 248;
  --ctp-lavender-hsl: 234.462, 82.278%, 84.51%;
  --ctp-text: #cad3f5;
  --ctp-text-rgb: 202, 211, 245;
  --ctp-text-hsl: 227.442, 68.254%, 87.647%;
  --ctp-subtext1: #b8c0e0;
  --ctp-subtext1-rgb: 184, 192, 224;
  --ctp-subtext1-hsl: 228, 39.216%, 80%;
  --ctp-subtext0: #a5adcb;
  --ctp-subtext0-rgb: 165, 173, 203;
  --ctp-subtext0-hsl: 227.368, 26.761%, 72.157%;
  --ctp-overlay2: #939ab7;
  --ctp-overlay2-rgb: 147, 154, 183;
  --ctp-overlay2-hsl: 228.333, 20%, 64.706%;
  --ctp-overlay1: #8087a2;
  --ctp-overlay1-rgb: 128, 135, 162;
  --ctp-overlay1-hsl: 227.647, 15.455%, 56.863%;
  --ctp-overlay0: #6e738d;
  --ctp-overlay0-rgb: 110, 115, 141;
  --ctp-overlay0-hsl: 230.323, 12.351%, 49.216%;
  --ctp-surface2: #5b6078;
  --ctp-surface2-rgb: 91, 96, 120;
  --ctp-surface2-hsl: 229.655, 13.744%, 41.373%;
  --ctp-surface1: #494d64;
  --ctp-surface1-rgb: 73, 77, 100;
  --ctp-surface1-hsl: 231.111, 15.607%, 33.922%;
  --ctp-surface0: #363a4f;
  --ctp-surface0-rgb: 54, 58, 79;
  --ctp-surface0-hsl: 230.4, 18.797%, 26.078%;
  --ctp-base: #24273a;
  --ctp-base-rgb: 36, 39, 58;
  --ctp-base-hsl: 231.818, 23.404%, 18.431%;
  --ctp-mantle: #1e2030;
  --ctp-mantle-rgb: 30, 32, 48;
  --ctp-mantle-hsl: 233.333, 23.077%, 15.294%;
  --ctp-crust: #181926;
  --ctp-crust-rgb: 24, 25, 38;
  --ctp-crust-hsl: 235.714, 22.581%, 12.157%;
}

@media (prefers-color-scheme: light) {
  :root {
    --ctp-rosewater: #dc8a78;
    --ctp-rosewater-rgb: 220 138 120;
    --ctp-rosewater-hsl: 10.8 58.824% 66.667%;
    --ctp-flamingo: #dd7878;
    --ctp-flamingo-rgb: 221 120 120;
    --ctp-flamingo-hsl: 0 59.763% 66.863%;
    --ctp-pink: #ea76cb;
    --ctp-pink-rgb: 234 118 203;
    --ctp-pink-hsl: 316.034 73.418% 69.02%;
    --ctp-mauve: #8839ef;
    --ctp-mauve-rgb: 136 57 239;
    --ctp-mauve-hsl: 266.044 85.047% 58.039%;
    --ctp-red: #d20f39;
    --ctp-red-rgb: 210 15 57;
    --ctp-red-hsl: 347.077 86.667% 44.118%;
    --ctp-maroon: #e64553;
    --ctp-maroon-rgb: 230 69 83;
    --ctp-maroon-hsl: 354.783 76.303% 58.627%;
    --ctp-peach: #fe640b;
    --ctp-peach-rgb: 254 100 11;
    --ctp-peach-hsl: 21.975 99.184% 51.961%;
    --ctp-yellow: #df8e1d;
    --ctp-yellow-rgb: 223 142 29;
    --ctp-yellow-hsl: 34.948 76.984% 49.412%;
    --ctp-green: #40a02b;
    --ctp-green-rgb: 64 160 43;
    --ctp-green-hsl: 109.231 57.635% 39.804%;
    --ctp-teal: #179299;
    --ctp-teal-rgb: 23 146 153;
    --ctp-teal-hsl: 183.231 73.864% 34.51%;
    --ctp-sky: #04a5e5;
    --ctp-sky-rgb: 4 165 229;
    --ctp-sky-hsl: 197.067 96.567% 45.686%;
    --ctp-sapphire: #209fb5;
    --ctp-sapphire-rgb: 32 159 181;
    --ctp-sapphire-hsl: 188.859 69.953% 41.765%;
    --ctp-blue: #1e66f5;
    --ctp-blue-rgb: 30 102 245;
    --ctp-blue-hsl: 219.907 91.489% 53.922%;
    --ctp-lavender: #7287fd;
    --ctp-lavender-rgb: 114 135 253;
    --ctp-lavender-hsl: 230.935 97.203% 71.961%;
    --ctp-text: #4c4f69;
    --ctp-text-rgb: 76 79 105;
    --ctp-text-hsl: 233.793 16.022% 35.49%;
    --ctp-subtext1: #5c5f77;
    --ctp-subtext1-rgb: 92 95 119;
    --ctp-subtext1-hsl: 233.333 12.796% 41.373%;
    --ctp-subtext0: #6c6f85;
    --ctp-subtext0-rgb: 108 111 133;
    --ctp-subtext0-hsl: 232.8 10.373% 47.255%;
    --ctp-overlay2: #7c7f93;
    --ctp-overlay2-rgb: 124 127 147;
    --ctp-overlay2-hsl: 232.174 9.623% 53.137%;
    --ctp-overlay1: #8c8fa1;
    --ctp-overlay1-rgb: 140 143 161;
    --ctp-overlay1-hsl: 231.429 10.048% 59.02%;
    --ctp-overlay0: #9ca0b0;
    --ctp-overlay0-rgb: 156 160 176;
    --ctp-overlay0-hsl: 228 11.236% 65.098%;
    --ctp-surface2: #acb0be;
    --ctp-surface2-rgb: 172 176 190;
    --ctp-surface2-hsl: 226.667 12.162% 70.98%;
    --ctp-surface1: #bcc0cc;
    --ctp-surface1-rgb: 188 192 204;
    --ctp-surface1-hsl: 225 13.559% 76.863%;
    --ctp-surface0: #ccd0da;
    --ctp-surface0-rgb: 204 208 218;
    --ctp-surface0-hsl: 222.857 15.909% 82.745%;
    --ctp-base: #eff1f5;
    --ctp-base-rgb: 239 241 245;
    --ctp-base-hsl: 220 23.077% 94.902%;
    --ctp-mantle: #e6e9ef;
    --ctp-mantle-rgb: 230 233 239;
    --ctp-mantle-hsl: 220 21.951% 91.961%;
    --ctp-crust: #dce0e8;
    --ctp-crust-rgb: 220 224 232;
    --ctp-crust-hsl: 220 20.69% 88.627%;
  }
}
