<extend template="base.html" />

<title id="title" var="$page.title"></title>

<head id="head">
</head>

<div id="content">
    <nav id="nav">
        <ul>
            <li><a href="/" role="button" class="button">~/</a></li>
            <li><a href="/posts" role="button" class="button">Posts</a></li>
            <li><a href="/about" role="button" class="button">About</a></li>
            <li><a href="/contact" role="button" class="button">Contact</a></li>
        </ul>
    </nav>
    <div id="main">
        <super />
    </div>
</div>