:root {
  --font-primary: "Roboto", sans-serif; /* Specify your primary font */
  --font-secondary: "Open Sans", sans-serif; /* Optional secondary font */
  --font-monospace: "Menlo", monospace; /* Optional monospace font for code */
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary); /* Use secondary font for headings */
}

pre,
code {
  font-family: var(--font-monospace); /* Use monospace font for code */
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--ctp-flamingo);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--ctp-maroon);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--ctp-mauve);
  margin-bottom: 0.75rem;
}

a {
  color: var(--ctp-text);
  text-decoration: underline;
  text-decoration-color: var(--ctp-flamingo);
}

a:hover {
  background-color: var(--ctp-flamingo);
  color: var(--ctp-crust);
  transition: color, background-color 0.2s ease-in;
}

strong {
  color: var(--ctp-mauve);
}

i {
  color: var(--ctp-pink);
}

code {
  color: var(--ctp-text);
  background-color: var(--ctp-mantle);
  padding: 4px;
  font-size: 14px;
}

pre code {
  color: var(--ctp-text);
  background-color: inherit;
  padding: 0;
}

pre {
  background-color: var(--ctp-mantle);
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

blockquote {
  padding-left: 12px;
  margin: 0;
  border-left: 4px solid var(--ctp-overlay1);
}

p {
  line-height: 1.5rem;
}

hr {
  border: 2px solid var(--ctp-surface2);
}

main {
  padding: 0 1rem;
}

video {
  width: 100%;
  display: block;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

figcaption {
  font-size: 0.9rem;
  color: var(--ctp-overlay2);
  margin-top: 0.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  margin-top: 2rem;
}

#content {
  max-width: 800px;
  width: 100%;
  margin: auto;
  height: 100wh;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  background-color: var(--ctp-crust);
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#nav li {
  width: 100%;
  justify-content: center;
  display: flex;
}

.string {
  color: var(--ctp-green);
}

.operator {
  color: var(--ctp-sky);
}

.function {
  color: var(--ctp-blue);
}

.markup.heading {
  color: var(--ctp-red);
}

.markup.list {
  color: var(--ctp-mauve);
}

.keyword.control {
  color: var(--ctp-mauve);
}

.punctuation.delimiter {
  color: var(--ctp-overlay2);
}

.variable {
  color: var(--ctp-flamingo);
}

.punctuation.bracket {
  color: var(--ctp-overlay2);
}

.constant.numeric {
  color: var(--ctp-peach);
}

.tag,
.property {
  color: var(--ctp-teal);
}

.emph {
  color: var(--ctp-blue);
  font-weight: bold;
}

.head-footer {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  color: var(--ctp-subtext0);
  justify-content: space-between;
}

#nav a {
  color: var(--ctp-text); /* White text for readability */
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
}

#nav a:hover {
  background: var(--ctp-base);
  color: var(--ctp-text);
  transition: color, background-color 0.2s ease-in;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-list li {
  padding: 1rem 0;
}

.post-list time {
  display: block;
  font-size: 0.9rem;
  color: var(--ctp-overlay2);
  margin-top: 0.5rem;
}
.post-list a:hover {
  color: var(--ctp-base);
  background-color: var(--ctp-mauve);
  transition: color, background-color 0.2s ease-in;
}

.post-list a {
  color: var(--ctp-mauve);
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

#socials a:hover,
#socials a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

#socials {
  gap: 2rem;
  justify-content: space-evenly;
  padding: 2rem;
}

#socials svg {
  width: 32px;
  height: 32px;
  fill: var(--ctp-base);
  stroke: var(--ctp-mauve);
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#socials svg:hover {
  stroke-width: 2px;
  transition: fill 0.2s ease-in;
}

#post-title {
  justify-content: space-between;
}
