:root {
  --font-primary: "Roboto", sans-serif; /* Specify your primary font */
  --font-secondary: "Open Sans", sans-serif; /* Optional secondary font */
  --font-monospace: "Menlo", monospace; /* Optional monospace font for code */
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary); /* Use secondary font for headings */
}

pre,
code {
  font-family: var(--font-monospace); /* Use monospace font for code */
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--ctp-flamingo);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--ctp-maroon);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--ctp-mauve);
  margin-bottom: 0.75rem;
}

a {
  color: var(--ctp-text);
  text-decoration: underline;
  text-decoration-color: var(--ctp-flamingo);
}

a:hover {
  background-color: var(--ctp-flamingo);
  color: var(--ctp-crust);
  transition: color, background-color 0.3s ease-in;
}

strong {
  color: var(--ctp-mauve);
}

i {
  color: var(--ctp-pink);
}

code {
  color: var(--ctp-text);
  background-color: var(--ctp-mantle);
  padding: 4px;
  font-size: 14px;
}

pre code {
  color: var(--ctp-text);
  background-color: inherit;
  padding: 0;
}

pre {
  background-color: var(--ctp-mantle);
  padding: 1rem;
  white-space: pre-wrap;
}

blockquote {
  padding-left: 12px;
  margin: 0;
  border-left: 4px solid var(--ctp-overlay1);
}

p {
  line-height: 1.5rem;
}

hr {
  border: none;
  border-top: 3px solid var(--ctp-surface2);
  margin: 2rem 0;
}

main {
  padding: 0 1rem;
}

#content {
  max-width: 800px;
  width: 100%;
  margin: auto;
  margin-bottom: 16rem;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  background-color: var(--ctp-crust);
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#nav li {
  width: 100%;
  justify-content: center;
  display: flex;
}

.typst {
  color: var(--ctp-text);
}

.typst .string {
  color: var(--ctp-green);
}

.typst .operator {
  color: var(--ctp-sky);
}

.typst .function {
  color: var(--ctp-blue);
}

.typst .markup.heading {
  color: var(--ctp-red);
}

.typst .markup.list {
  color: var(--ctp-mauve);
}

.typst .keyword.control {
  color: var(--ctp-mauve);
}

.typst .punctuation.delimiter {
  color: var(--ctp-overlay2);
}

.typst .variable {
  color: var(--ctp-flamingo);
}

.typst .punctuation.bracket {
  color: var(--ctp-overlay2);
}

.typst .constant.numeric {
  color: var(--ctp-peach);
}

.typst .tag {
  color: var(--ctp-teal);
}

.emph {
  color: var(--ctp-blue);
  font-weight: bold;
}

.post-list {
  list-style-type: none;
  padding: 0;
}

.post-list li {
  padding: 1rem 0;
}

.post-list a {
  color: var(--ctp-mauve);
  text-decoration: none;
}

.post-list a:hover {
  color: var(--ctp-base);
  background-color: var(--ctp-mauve);
  transition: color, background-color 0.2s ease-in;
}

.post-list time {
  display: block;
  font-size: 0.9rem;
  color: var(--ctp-overlay2);
  margin-top: 0.5rem;
}

.head-footer {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  color: var(--ctp-subtext0);
  justify-content: space-between;
}

.button {
  color: var(--ctp-text); /* White text for readability */
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  padding: 1rem;
  font-size: 16px;
  font-weight: bold;
}

.button:hover {
  background: var(--ctp-base);
  color: var(--ctp-text);
  transition: color, background-color 0.2s ease-in;
}
