<extend template="with-nav.html" />

<div id="main">
  <style>
    .post-list {
      list-style-type: none;
      padding: 0;
      background-color: var(--ctp-surface0);
      border-radius: 8px;
      transition: background-color 0.3s ease;
    }

    .post-list li {
      padding: 1rem;
    }

    .post-list h2 {
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    .post-list h2 a {
      color: var(--ctp-mauve);
      text-decoration: none;
      transition: color 0.3s ease;
    }

    .post-list h2 a:hover {
      color: var(--ctp-pink);
      background-color: inherit;
    }

    .post-list p {
      margin: 0.5rem 0;
      color: var(--ctp-subtext0);
    }

    .post-list time {
      display: block;
      font-size: 0.9rem;
      color: var(--ctp-overlay2);
      margin-top: 0.5rem;
    }
  </style>

  <div var="$page.content"></div>
  <div id="articles">
    <ul class="post-list">
      <li inline-loop="$page.subpages()">
        <h2>
          <a href="$loop.it.permalink()"><span var="$loop.it.title"></span> </a>
        </h2>
        <p var="$loop.it.description"></p>
        <p>Word Count: <span var="$loop.it.wordCount()"></span></p>
        <time
          datetime="$loop.it.date.formatHTTP()"
          var='$loop.it.date.format("January 02, 2006")'
        ></time>
      </li>
    </ul>
  </div>
</div>
