:root {
  --font-primary: "Roboto", sans-serif; /* Specify your primary font */
  --font-secondary: "Open Sans", sans-serif; /* Optional secondary font */
  --font-monospace: "Menlo", monospace; /* Optional monospace font for code */
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary); /* Use secondary font for headings */
}

pre,
code {
  font-family: var(--font-monospace); /* Use monospace font for code */
}

.emph {
  font-family: var(--font-secondary);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--ctp-flamingo);
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--ctp-maroon);
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--ctp-subtext1);
  margin-bottom: 0.75rem;
}

a {
  color: var(--ctp-text);
  text-decoration: underline;
  text-decoration-color: var(--ctp-flamingo);
}

a:hover {
  background-color: var(--ctp-flamingo);
  color: var(--ctp-crust);
}

strong {
  color: var(--ctp-mauve);
}

i {
  color: var(--ctp-pink);
}

code {
  color: var(--ctp-text);
  background-color: var(--ctp-mantle);
  padding: 4px;
  font-size: 14px;
  border-radius: 4px;
}

pre code {
  color: var(--ctp-text);
  background-color: inherit;
  padding: 0;
  border-radius: 0;
  /* reduce space between lines */
}

pre {
  background-color: var(--ctp-mantle);
  padding: 1rem;
  border-radius: 8px;
}

blockquote {
  padding-left: 12px;
  margin: 0;
  border-left: 4px solid var(--ctp-overlay1);
}
